/* Slider customization */
input[type="range"].slider {
  -webkit-appearance: none; /* Remove default appearance */
  appearance: none;
  width: 100%;
  height: 6px; /* Height of the track */
  outline: none;
}

/* Track */
input[type="range"].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px; /* Height of the track */
  background: rgba(0, 0, 0, 0.3); /* Background color */

  border-radius: 16px;
}

/* Remove the slider thumb */
input[type="range"].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0; /* Set width to 0 to hide it */
  height: 0; /* Set height to 0 to hide it */
  background: transparent; /* Make it transparent */
  cursor: pointer;
}

input[type="range"].slider::-moz-range-thumb {
  width: 0; /* Set width to 0 to hide it */
  height: 0; /* Set height to 0 to hide it */
  background: transparent; /* Make it transparent */
  cursor: pointer;
}

input[type="range"].slider::-ms-thumb {
  width: 0; /* Set width to 0 to hide it */
  height: 0; /* Set height to 0 to hide it */
  background: transparent; /* Make it transparent */
  cursor: pointer;
}

.volume-slider {
  transition: opacity 0.3s ease;
}

/* Player.css */
.transition-transform {
  transition: transform 0.5s ease;
}


